.bx-destination-input-box {
    display: none;
}
.bx-destination-input {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    color: #555;
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    height: 30px;
    margin: -6px 9px 0 0;
    min-width: 108px;
    outline: medium none;
    padding: 0;
    vertical-align: middle;
}
.bx-destination-add {
    border-bottom: 1px dashed transparent;
    color: #2067b0;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    line-height: 17px;
    margin: 7px 7px 7px 3px;
    position: relative;
    transition: border-bottom-color 0.2s linear 0s;
    vertical-align: top;
}
.bx-destination-add:hover {
    border-bottom: 1px dashed #2067b0;
}
.bx-destination {
    border-radius: 1px;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    height: 30px;
    line-height: 29px;
    margin: 0 6px 6px 0;
    overflow: hidden;
    padding: 0 30px 0 13px;
    position: relative;
    transition: background-color 0.2s linear 0s;
    vertical-align: middle;
    z-index: 2;
}
.bx-destination a:link, .bx-destination a:visited, .bx-destination a:active, .bx-destination a:hover {
    text-decoration: none;
}
.bx-destination-wrap {
    display: inline-block;
    min-height: 36px;
}
.bx-destination-wrap .bx-destination {
    padding-right: 30px;
}
.bx-destination-wrap .bx-destination {
    padding-right: 30px;
}
.bx-destination-del-but {
    background: rgba(0, 0, 0, 0) url("images/sprite.png") no-repeat scroll 0 0;
    cursor: pointer;
    height: 25px;
    opacity: 0.6;
    position: absolute;
    right: 0;
    top: 1px;
    width: 24px;
}
.bx-destination-wrap-item {
    display: inline-block;
    margin-bottom: 6px;
    min-height: 30px;
    min-width: 1px;
    vertical-align: middle;
    z-index: 2;
}
.bx-destination:hover {
    text-decoration: none;
}
.bx-destination-all-users {
    background: #dbf188 none repeat scroll 0 0;
    color: #535c69 !important;
}
.bx-destination-all-users .bx-destination-del-but {
    background-position: -107px -39px;
}
.bx-destination-hover.bx-destination-all-users {
    background-color: #b2e233;
}
.bx-destination-hover.bx-destination-all-users .bx-destination-del-but {
    background-position: -27px -60px;
}
.bx-destination-users {
    background-color: #bcedfc;
    color: #1f6ab5 !important;
}
.bx-destination-users .bx-destination-del-but {
    background-position: -122px -35px;
}
.bx-destination-hover.bx-destination-users {
    background-color: #86e2ff;
}
.bx-destination-hover.bx-destination-users .bx-destination-del-but {
    background-position: -72px -56px;
}

/* VOTE */
.imol-vote-container { white-space: normal; }

.imol-vote-main-button {
	margin: 0 0 39px 0;
	padding: 0;
}

.imol-vote-title {
	margin: 0 0 20px 0;
	padding: 0 0 20px 0;
	max-width: 1025px;
	border-bottom: 1px solid rgba(216,216,216,.45);
	font: bold 15px "Helvetica Neue", Arial, Helvetica, sans-serif;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.imol-vote-description {
	margin: 0 0 13px 0;
	font: bold 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #828B95;
}

.imol-vote-content-border-element {
	border: 2px solid #E8EBF0;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.imol-vote-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 0 17px 0;
	color: rgba(82,92,104,.7);
}

.imol-vote-block {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	max-width: 276px;
}

.imol-vote-content-small {
	padding: 16px;
	min-height: 122px;
	font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #525C68;
}

.imol-vote-content-middle {
	padding: 11px 15px;
	min-height: 166px;
	font: bold 11px/15px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #525C69;
	text-align: center;
	text-transform: uppercase;
}

.imol-vote-text-container {
	display: block;
	max-height: 120px;
	overflow: hidden;
	text-align: left;
	margin-bottom: 5px;
}

.imol-vote-text-container-input {
	display: inline-block;
}

.imol-vote-text-container-input-text {
	max-height: 60px;
	overflow: hidden;
}

.imol-vote-content-middle .imol-vote-text-container-input {
	min-height: 45px;
}

.imol-vote-content-middle .imol-vote-content-element {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	min-height: 60px;
}

.imol-vote-content-middle .imol-vote-content-button {
	width: 100%;
}

.imol-vote-content-small .imol-vote-content-element {
	max-width: 220px;
	text-align: left;
}

.imol-vote-content-element {
	position: static;
	display: block;
	opacity: 1;
	text-align: center;
	-webkit-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
	-ms-transform: translate3d(0px, 0px, 0px);
	-o-transform: translate3d(0px, 0px, 0px);
	transform: translate3d(0px, 0px, 0px);
	overflow: hidden;
}

.imol-vote-content-element-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0 auto 13px auto;
	min-height: 36px;
	max-width: 200px;
	-webkit-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
	-ms-transform: translate3d(0px, 0px, 0px);
	-o-transform: translate3d(0px, 0px, 0px);
	transform: translate3d(0px, 0px, 0px);
}

.imol-vote-content-description {
	margin: 0 0 10px 0;
}

.imol-vote-block-icon {
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
}

.imol-vote-icon-like-small {
	width: 30px;
	height: 30px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2030%2030%22%3E%3Cpath%20fill%3D%22%233BC8F5%22%20fill-rule%3D%22evenodd%22%20d%3D%22M0%2015C0%206.716%206.714%200%2015%200c8.284%200%2015%206.714%2015%2015%200%208.284-6.714%2015-15%2015-8.284%200-15-6.714-15-15zm10.336-3.214H7.878c-.208%200-.378.15-.378.336v7.9c0%20.184.17.335.378.335h2.458c.208%200%20.378-.15.378-.336v-7.898c0-.185-.17-.336-.378-.336zm12.245-.222h-4.334c-.638%200-1.23.113-1.12-.382l.914-2.717c.018-.075.024-.15.024-.224v-.808c0-.265-.106-.52-.29-.71-.39-.392-.863-.392-1.25%200l-4.447%204.785c-.185.187-.29.444-.29.708v8.21c0%20.554.443%201.004.99%201.004h6.292c.1%200%20.2-.016.296-.046l1.407-.447c.286-.092.518-.31.626-.592l2.104-5.418c.044-.116.067-.24.067-.366v-1.99c0-.557-.442-1.006-.99-1.006z%22/%3E%3C/svg%3E');
}

.imol-vote-icon-dislike-small {
	width: 30px;
	height: 30px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2030%2030%22%3E%3Cpath%20fill%3D%22%23FE5957%22%20fill-rule%3D%22evenodd%22%20d%3D%22M0%2015C0%206.716%206.714%200%2015%200c8.284%200%2015%206.714%2015%2015%200%208.284-6.714%2015-15%2015-8.284%200-15-6.714-15-15zm7.85%202.825h2.285c.193%200%20.35-.156.35-.346V9.345c0-.19-.157-.346-.35-.346H7.85c-.192%200-.35.156-.35.346v8.133c0%20.19.158.345.35.345zm10.557.735h4.318c.544%200%20.986-.435.986-.975v-1.93c0-.12-.022-.24-.066-.354l-2.096-5.247c-.11-.274-.34-.485-.624-.574l-1.402-.434c-.096-.03-.196-.043-.296-.043H12.96c-.545%200-.987.435-.987.972v7.953c0%20.257.105.505.29.687l4.428%204.634c.388.38.86.38%201.246%200%20.184-.183.29-.43.29-.687v-.785c0-.072-.006-.144-.024-.216l-.91-2.633c-.11-.48.48-.37%201.115-.37z%22%20opacity%3D%22.67%22/%3E%3C/svg%3E');
}

.imol-vote-icon-like-small:before, .imol-vote-block-number-like:before {
	content: '';
	position: absolute;
	top: 30px;
	left: 11px;
	height: 150px;
	width: 26px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2227%22%20height%3D%22178%22%20viewBox%3D%220%200%2027%20178%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20opacity%3D%220.5%22%20d%3D%22M1%20177H27V178H0V0H1V177Z%22%20fill%3D%22%23A8ADB4%22/%3E%0A%3C/svg%3E%0A)
				no-repeat center;
	background-size: 80%;
}

.imol-vote-block-number-like:before {
	background-size: 100%;
	height: 199px;
	top: 26px;
}

.imol-vote-icon-dislike-small:before, .imol-vote-block-number-dislike:before {
	content: '';
	position: absolute;
	top: 36px;
	left: 15px;
	height: 38px;
	width: 1px;
	background: #a8adb4;
	opacity: .5;
}

.imol-vote-block-number-dislike:before {
	top: 40px;
	left: 56px;
	height: 73px;
}

.imol-vote-important-info {
	margin: 0 0 61px 0;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #828B95;
}

.imol-vote-content-icon-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: auto;
	max-width: 200px;
	min-width: 130px;
}

.imol-vote-content-icon {
	background-repeat: no-repeat;
}

.imol-vote-content-icon-like-big {
	width: 60px;
	height: 60px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2060%2060%22%3E%3Cpath%20fill%3D%22%233BC8F5%22%20fill-rule%3D%22evenodd%22%20d%3D%22M0%2030C0%2013.43%2013.428%200%2030%200c16.57%200%2030%2013.428%2030%2030%200%2016.57-13.428%2030-30%2030C13.43%2060%200%2046.572%200%2030zm20.27-6.03h-4.567c-.387%200-.703.325-.703.724V41.74c0%20.4.316.725.703.725h4.566c.385%200%20.702-.326.702-.725V24.694c0-.4-.317-.725-.703-.725zm25.18-1.543h-8.636c-1.27%200-2.447.23-2.23-.774l1.82-5.518c.035-.152.047-.303.047-.454v-1.643c0-.538-.21-1.058-.58-1.44-.772-.796-1.714-.796-2.487%200l-8.858%209.715c-.37.38-.58.9-.58%201.44v16.67c0%201.125.885%202.037%201.974%202.037h12.533c.2%200%20.398-.03.59-.09l2.806-.908c.566-.187%201.03-.63%201.246-1.203l4.19-11.002c.09-.236.136-.49.136-.744V24.47c0-1.13-.884-2.043-1.973-2.043z%22/%3E%3C/svg%3E');
}

.imol-vote-content-icon-dislike-big {
	width: 60px;
	height: 60px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2060%2060%22%3E%3Cpath%20fill%3D%22%23FE5957%22%20fill-rule%3D%22evenodd%22%20d%3D%22M0%2030C0%2013.43%2013.428%200%2030%200c16.57%200%2030%2013.428%2030%2030%200%2016.57-13.428%2030-30%2030C13.43%2060%200%2046.572%200%2030zm15.703%205.65h4.566c.385%200%20.702-.312.702-.693V18.692c0-.38-.317-.692-.703-.692h-4.567c-.387%200-.703.31-.703.692v16.265c0%20.38.316.692.703.692zm21.11%201.47h8.636c1.088%200%201.972-.87%201.972-1.95v-3.858c0-.242-.047-.485-.135-.71l-4.19-10.497c-.218-.548-.68-.97-1.248-1.148l-2.806-.865c-.193-.057-.392-.086-.59-.086H25.918c-1.09%200-1.974.87-1.974%201.943v15.907c0%20.513.21%201.01.58%201.373l8.857%209.268c.773.762%201.715.762%202.488%200%20.37-.363.58-.86.58-1.372v-1.57c0-.143-.01-.288-.046-.432l-1.82-5.266c-.217-.957.96-.738%202.23-.738z%22%20opacity%3D%22.67%22/%3E%3C/svg%3E');
}

.imol-vote-content-icon-smile {
	width: 30px;
	height: 30px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2074%2074%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20cx%3D%2236.995%22%20cy%3D%2236.995%22%20r%3D%2236.995%22%20fill%3D%22%23FFE267%22%20fill-rule%3D%22nonzero%22/%3E%3Cpath%20fill%3D%22%23AF8066%22%20d%3D%22M28.703%2037.983c-1.38%200-2.5-4.03-2.5-9s1.12-9%202.5-9%202.5%204.03%202.5%209-1.12%209-2.5%209zm16%200c-1.38%200-2.5-4.03-2.5-9s1.12-9%202.5-9%202.5%204.03%202.5%209-1.12%209-2.5%209z%22/%3E%3Cpath%20fill%3D%22%23AF8066%22%20fill-rule%3D%22nonzero%22%20d%3D%22M36.506%2055.582c-5.942-.092-10.295-2.48-14.82-7.156-1.31-1.356-3.374.712-2.065%202.065%2010.27%2010.612%2023.988%2010.67%2034.332.14%201.32-1.343-.743-3.41-2.065-2.064-4.692%204.775-9.27%207.11-15.38%207.016z%22/%3E%3C/g%3E%3C/svg%3E');
}

.imol-vote-content-icon-sad {
	width: 30px;
	height: 30px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2074%2074%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20cx%3D%2236.995%22%20cy%3D%2236.995%22%20r%3D%2236.995%22%20fill%3D%22%23FFE267%22%20fill-rule%3D%22nonzero%22/%3E%3Cpath%20fill%3D%22%23B08064%22%20d%3D%22M48.602%2056.18c-.316%200-.637-.086-.916-.267-10.363-6.692-20.862-.067-20.967%200-.726.468-1.723.306-2.228-.363-.507-.668-.33-1.59.393-2.055.123-.08%2012.458-7.862%2024.635%200%20.724.466.9%201.387.394%202.055-.312.41-.808.63-1.312.63%22/%3E%3Cpath%20fill%3D%22%23AF8066%22%20d%3D%22M28.5%2038c-1.38%200-2.5-4.03-2.5-9s1.12-9%202.5-9%202.5%204.03%202.5%209-1.12%209-2.5%209zm16%200c-1.38%200-2.5-4.03-2.5-9s1.12-9%202.5-9%202.5%204.03%202.5%209-1.12%209-2.5%209z%22/%3E%3C/g%3E%3C/svg%3E');
}

.imol-vote-content-button {
	display: block;
	margin-top: 5px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #A8ADB4;
	cursor: pointer;
}

.imol-vote-content-button-item {
	display: inline-block;
	border-bottom: 1px dashed #A8ADB4;
	text-transform: none;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}

.imol-vote-content-button-item:hover {
	opacity: .5;
	border-bottom: 1px dashed transparent;
}

.imol-vote-icon-pencil {
	width: 10px;
	height: 10px;
	display: inline-block;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2010%2010%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Ctitle%3EShape%3C/title%3E%3Cpath%20d%3D%22M8.595%203.437L6.513%201.382%207.92%200%2010%202.055%208.595%203.437zM0%2010l.835-3.004L2.917%209.05%200%209.998V10zm3.536-1.57L1.454%206.377%205.83%202.062l2.08%202.055L3.537%208.43z%22%20fill%3D%22%23737B86%22%20fill-rule%3D%22evenodd%22%20opacity%3D%22.5%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	margin-right: 5px;
}

.imol-vote-content-text-control.imol-vote-content-textarea {
	resize: none;
	min-height: 120px;
	box-sizing: border-box;
}
.imol-vote-content-text-control.imol-vote-content-textarea-small {
	resize: none;
	min-height: 65px;
	box-sizing: border-box;
}

.imol-vote-content-text-control {
	padding: 0 5px;
	margin: 0 auto;
	min-height: 20px;
	width: 100%;
	outline: none;
	-webkit-transition: border-color .3s;
	transition: border-color .3s;
}

.imol-vote-content-text-control:focus {
	border-color: #3498db;
}

.imol-vote-content-hidden-element {
	display: none;
}

.imol-vote-state .imol-vote-content-element {
	display: none;
}

.imol-vote-state .imol-vote-content-textarea,
.imol-vote-state .imol-vote-content-input {
	display: block;
}

/* END OF VOTE */

/* UI Form settings */

.imopenlines-form-settings-title {
	font: 18px/22px "OpenSans-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	border-bottom: 1px solid rgba(82, 92, 105, .1);
	padding: 0 0 16px 7px;
	margin: 35px 0 16px;
}

.imopenlines-form-settings-title-top {
	margin-top: 15px;
}

.imopenlines-form-settings-title-other {
	margin-top: 0;
}

.ui-form-border-bottom {
	border-bottom: 1px solid #E6E9EC;
}

.ui-form-iframe-background {
	background-color: #eef2f4;
}

.ui-form-settings-multiple-lines.ui-form-settings-row {
	align-items: flex-start;
}

.ui-form-settings-multiple-lines .imopenlines-control-checkbox-container {
	margin: 0 0 16px 0;
}

.ui-form-settings-multiple-lines .ui-form-settings-block-right {
	flex-direction: column;
}

.ui-form-settings-multiple-lines .imopenlines-control-checkbox-container:last-child {
	margin: 0;
}

.ui-form-settings-multiple-lines .imopenlines-control-select {
	margin: 0 0 16px 0;
}

/* End of UI Form settings */

/* UI Control */
.ui-form-settings-tooltip {
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2012%2012%22%3E%3Cpath%20fill%3D%22%23545C6A%22%20fill-rule%3D%22evenodd%22%20d%3D%22M6%2012A6%206%200%201%200%206%200a6%206%200%200%200%200%2012zM3.857%204.465c0-.287.087-.578.262-.872.174-.295.428-.538.762-.732.335-.193.725-.29%201.17-.29.415%200%20.78.081%201.098.243.317.161.562.381.735.659.172.278.259.58.259.906%200%20.256-.05.481-.148.674-.099.194-.216.36-.351.5-.136.141-.38.378-.731.71a3.062%203.062%200%200%200-.234.247%201.004%201.004%200%200%200-.13.194.983.983%200%200%200-.067.177%207.13%207.13%200%200%200-.07.31c-.055.314-.225.471-.51.471a.506.506%200%200%201-.376-.154c-.101-.102-.152-.255-.152-.457%200-.254.037-.474.112-.66.074-.185.173-.348.295-.488.123-.14.289-.308.498-.5.182-.17.315-.298.396-.384.081-.086.15-.181.206-.287a.822.822%200%200%200-.171-.956.902.902%200%200%200-.659-.249c-.314%200-.545.084-.694.251-.148.168-.274.415-.377.741-.097.341-.281.512-.553.512a.53.53%200%200%201-.405-.18.562.562%200%200%201-.165-.386zM5.95%209.429a.654.654%200%200%201-.457-.18c-.13-.119-.195-.285-.195-.5%200-.19.063-.35.189-.48a.62.62%200%200%201%20.463-.195.6.6%200%200%201%20.454.195c.123.13.184.29.184.48%200%20.212-.064.378-.193.498a.632.632%200%200%201-.445.182z%22/%3E%3C/svg%3E') no-repeat;
	background-size: 12px 12px;
	transition: opacity .3s;
	vertical-align: middle;
	opacity: .2;
	cursor: pointer;
}

.ui-form-settings-tooltip:hover {
	opacity: 1;
}

.imopenlines-control-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	max-width: 100%;
	vertical-align: middle;
	box-sizing: border-box;
}

.imopenlines-control-container,
.imopenlines-control-checkbox-container {
	margin: 2px 0 18px 0;
}

.imopenlines-control-block {
	display: flex;
	width: 100%;
}

.imopenlines-control-inner {
	display: flex;
	align-items: center;
}

.imopenlines-control-input {
	display: block;
	overflow: hidden;
	box-sizing: border-box;
	padding: 0 12px;
	height: 39px;
	width: 100%;
	outline: none;
	border: 1px solid #c6cdd3;
	border-radius: 2px;
	background-color: #fff;
	color: #424956;
	vertical-align: middle;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	font: 15px/23px "OpenSans-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	transition: border .3s ease, background-color .3s ease, color .3s ease;
	flex: 6;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	z-index: 1;
}

.imopenlines-control-inner.width-80 {
	width: 80px;
}

.imopenlines-control-input:hover {
	border-color: #66afe9;
}

.imopenlines-control-checkbox-label {
	display: flex;
	align-items: flex-start;
	color: #525c69;
	font: 13px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.imopenlines-control-checkbox {
	margin: 2px 10px 0 0;
}

.imopenlines-control-subtitle {
	display: flex;
	align-items: center;
	margin: 0 0 6px 0;
	font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #a9adb2;
}

.imopenlines-control-subtitle-decs {
	font-style: italic;
	margin-top: 2px;
}

.imopenlines-control-subtitle-answer {
	margin-top: 7px;
}

.imopenlines-control-select .imopenlines-control-input {
	margin-right: 14px;
	padding: 0 30px 0 6px;
	max-width: 420px;
	background: #fff url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2011%207%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Ctitle%3EPath%3C/title%3E%3Cpath%20d%3D%22M5.485%204.228L1.37.114%200%201.484l4.8%204.8.685.687%205.486-5.485L9.6.115%205.484%204.227z%22%20fill%3D%22%23535C69%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E') center right 10px no-repeat;
	background-size: 12px 12px;
}

.imopenlines-control-select .imopenlines-control-input.imopenlines-control-input-kpi {
	padding-top: 6px;
}

.imopenlines-control-link {
	display: inline-block;
	border-bottom: 1px dashed #ABAFB7;
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #5E6674;
	text-decoration: none;
	transition: border-color .3s;
	cursor: pointer;
}

.imopenlines-control-link:hover {
	border-color: transparent;
	color: #5E6674;
	text-decoration: none;
}

.imopenlines-control-input.imopenlines-control-textarea {
	height: 117px;
	white-space: pre-wrap;
	padding-top: 5px;
	overflow-y: visible;
}

.imopenlines-control-input.imopenlines-control-select-multiple {
	height: auto;
	background: #fff;
	padding-right: 0;
}
/* End of UI Control */

/*New styles*/

.imopenlines-field-container {
	margin: 20px;
}

.imopenlines-field-section {
	display: block;
	margin: 0 0 10px 0;
	padding: 20px 25px;
	background: #fff;
}

.imopenlines-title-wrap {
	min-height: 44px;
	box-sizing: border-box;
	position: relative;
	border-bottom: 1px solid rgba(82, 92, 105, .1);
	margin-bottom: 30px;
}

.imopenlines-title {
	font: 26px/26px "OpenSans-Light", Helvetica, Arial, sans-serif;
	margin: 0;
	display: block;
	word-wrap: break-word;
}

.imopenlines-title-channels {
	font: 18px/16px "OpenSans-Light", Helvetica, Arial, sans-serif;
	margin: 10px 0 0 0;
	display: block;
	word-wrap: break-word;
}

.imopenlines-input-short {
	max-width: 25%;
}

.imopenlines-show-inline {
	display: inline-block;
}

.imopenlines-show-none {
	display: none;
}

.imopenlines-title-input {
	width: 100%;
	border: 1px solid transparent;
	outline: none;
	font: 26px/26px "OpenSans-Light", Helvetica, Arial, sans-serif;
	margin-bottom: 10px;
}

.imopenlines-editable-btn {
	cursor: pointer;
	font-family: OpenSans-Semibold, sans-serif;
	display: inline-block;
	width: 30px;
	height: 20px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2211%22%20height%3D%2210%22%20viewBox%3D%220%200%2011%2010%22%3E%3Cpath%20fill%3D%22%23525C69%22%20d%3D%22M346.697954%2C919%20L348.626577%2C920.928622%20L341.709035%2C927.844782%20L339.780413%2C925.91616%20L346.697954%2C919%20Z%20M338.64341%2C928.723438%20C338.624068%2C928.79666%20338.644791%2C928.874026%20338.69729%2C928.927906%20C338.751169%2C928.981785%20338.828535%2C929.002508%20338.901757%2C928.981785%20L341.188197%2C928.365621%20L339.259574%2C926.436999%20L338.64341%2C928.723438%20Z%22%20transform%3D%22translate%28-338%20-919%29%22/%3E%3C/svg%3E);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}

.imopenlines-remove-btn {
	position: absolute;
	right: 0;
	top: 0;
	width: 25px;
	height: 30px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%228%22%20height%3D%228%22%20viewBox%3D%220%200%208%208%22%3E%3Cpath%20fill%3D%22%238AC4E6%22%20fill-rule%3D%22evenodd%22%20d%3D%22M5.073%203.657l2.12-2.12L5.778.12l-2.12%202.12L1.537.12.12%201.538l2.12%202.12-2.12%202.12%201.417%201.417%202.12-2.12%202.12%202.12%201.417-1.417-2.12-2.12z%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.6;
	transition: opacity .3s;
	cursor: pointer;
}

.imopenlines-extra-btn-container-active.ui-form-settings-extra-name:before {
	transform: rotate(180deg);
}

.imopenlines-control-checkbox-container.imopenlines-agreement-container {
	margin: 0;
}

.imopenlines-user-list-input {
	background-color: #ffffff;
	border: 1px solid #c6cdd3;
	transition: border .3s ease, background-color .3s ease, color .3s ease;
	border-radius: 2px;
	padding: 5px 6px 0;
	min-height: 31px;
}

.imopenlines-control-container.imopenlines-vote-block {
	background: #fff;
	padding: 15px 0 0 25px;
}

.imopenlines-border-block {
	border-bottom: 1px solid #E6E9EC;
	margin-bottom: 10px;
	padding-bottom: 5px;
}

.imopenlines-form-settings-section {
	background: #fff;
	padding: 20px 14px 10px 25px;
	margin-bottom: 15px;
}

.imopenlines-form-settings-block + .imopenlines-form-settings-block {
	border-top: 1px solid rgba(82, 92, 105, .1);
	padding-top: 20px;
}

.imopenlines-form-settings-inner {
	margin-bottom: 18px;
}

.imopenlines-form-settings-user {
	background: #eefafe;
	position: relative;
	padding: 11px 19px 30px 16px;
	border-radius: 2px;
	margin-bottom: 27px;
}

.imopenlines-form-settings-user-name {
	color: #858c96;
	font-size: 14px;
}

.imopenlines-form-settings-user-img {
	border-radius: 50%;
	width: 28px;
	height: 28px;
	margin-right: 9px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2289%22%20height%3D%2289%22%20viewBox%3D%220%200%2089%2089%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M45%2089c24.077%200%2044-19.923%2044-44C89%2019.923%2069.077%200%2045%200%2019.923%200%200%2019.923%200%2045c0%2024.077%2019.923%2044%2045%2044z%22%20fill%3D%22%23828B95%22/%3E%0A%20%20%3Cpath%20opacity%3D%22.2%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M65%2058.021c.177-2.485-2.578-4.903-8-6-1.84-.828-3.587-1.626-5-3-.53.12-.477-1.729%200-2h-2c-.224-.146-.373-2.363%200-2%201.717-1.069%201.502-5.232%202-5%20.83.508%201.694-2.787%202-3%201.264-4.364-1.088-4.087-1-4%20.324-2.88.324-5.72%200-9-1.134-8.784-16.878-6.268-15-3-4.613-1.092-3.563%209.427-4%209l1%203c-1.525%201.428-.162%202.972%200%205%20.002%202.375%201.6%201.83%202%202-.3%204.163%201.826%204.727%202%205%20.225%202.448-.024%201.985%200%202h-2c.11.833.06%201.453%200%202-2.29%201.056-2.77%201.64-5%203-4.253%201.495-8.895%203.94-10%207-.546%203.527-3%2014-3%2014h50s-3.823-15.368-4-15z%22%20fill%3D%22white%22/%3E%0A%3C/svg%3E%0A);
}

.imopenlines-form-settings-user-img-add {
	width: 89px;
	height: 89px;
	margin-right: 17px;
	cursor: pointer;
	flex-shrink: 0;
	position: relative;
}

.imopenlines-form-settings-user-img-add:hover:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2219%22%20height%3D%2215%22%20viewBox%3D%220%200%2019%2015%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20opacity%3D%220.8%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M18%202H14C13.3594%201.15384%2013.0625%200%2012%200H7C5.9375%200%205.64061%201.15384%205%202H1C0.534374%202.30771%200%202.82694%200%203V14C0%2014.4808%200.534374%2015%201%2015H18C18.4656%2015%2019%2014.4808%2019%2014V3C19%202.82694%2018.4656%202.30771%2018%202ZM9.5%2011.6C11.1568%2011.6%2012.5%2010.2569%2012.5%208.6C12.5%206.94314%2011.1569%205.6%209.5%205.6C7.84316%205.6%206.5%206.94314%206.5%208.6C6.5%2010.2569%207.84313%2011.6%209.5%2011.6ZM5%209C5%206.01473%207.0147%204%2010%204C11.9853%204%2014%206.0147%2014%209C14%2010.9853%2011.9853%2013%2010%2013C7.01473%2013%205%2010.9853%205%209ZM18%205H16V4H18V5Z%22%20fill%3D%22white%22/%3E%0A%3C/svg%3E%0A)
				no-repeat center;
}

.imopenlines-form-settings-user-info {
	display: flex;
	align-items: center;
	padding-bottom: 12px;
	margin-bottom: 26px;
	border-bottom: 1px solid rgba(82, 92, 105, .1);
}

.imopenlines-form-settings-user-add {
	display: flex;
}

.imopenlines-form-settings-user-input-block {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.imopenlines-form-settings-user-input {
	display: block;
	overflow: hidden;
	box-sizing: border-box;
	height: 39px;
	width: 100%;
	outline: none;
	border: 1px solid #c6cdd3;
	border-radius: 2px;
	background-color: #fff;
	color: #424956;
	text-overflow: ellipsis;
	white-space: nowrap;
	font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0 9px;
}

.imopenlines-form-settings-user-input:first-child {
	margin-bottom: 15px;
}

.imopenlines-form-settings-user-delete {
	display: block;
	cursor: pointer;
	width: 20px;
	height: 20px;
	opacity: .7;
	transition: all .2s ease;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%228%22%20height%3D%228%22%20viewBox%3D%220%200%208%208%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M5.43706%204L7.94025%206.50319L6.50319%207.94025L4%205.43706L1.43706%208L0%206.56294L2.56294%204L0.0597489%201.49681L1.49681%200.0597489L4%202.56294L6.56294%200L8%201.43706L5.43706%204Z%22%20fill%3D%22%23C7CDD3%22/%3E%0A%3C/svg%3E%0A)
				no-repeat center;
	position: absolute;
	top: 11px;
	right: 11px;
}

.imopenlines-form-settings-user-delete:hover {
	opacity: 1;
}

.imopenlines-form-settings-user-link {
	color: #2066b0;
	font-size: 14px;
	border-bottom: 1px dashed rgba(39, 107, 179, .4);
	transition: border .2s ease;
	display: inline-block;
	vertical-align: middle;
}

.imopenlines-form-settings-user-link:hover {
	border-color: rgba(39, 107, 179, .8);
}

.imopenlines-vote-container {
	display: flex;
}

.imopenlines-vote-icons-list {
	width: 72px;
	margin: 30px 12px 23px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.imopenlines-vote-text-block {
	width: 100%;
}

.imopenlines-vote-icons-item {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: absolute;
	left: 0;
	top: 27px;
	width: 72px;
}

.imopenlines-vote-icons-item .imol-vote-block-icon:first-child {
	margin-right: 12px;
}

.imol-vote-block-number {
	font-weight: 600;
	font-size: 30px;
}

.imol-vote-block-number-like {
	color: #3ac8f5;
	margin-right: 31px;
}

.imol-vote-block-number-dislike {
	color: #fe8f8f;
	margin-right: 6px;
}

.imopenlines-vote-text-block .imopenlines-control-container {
	padding-left: 84px;
}

.imopenlines-control-input-vote {
	height: 79px;
	white-space: pre-wrap;
	resize: none;
	overflow-y: visible;
}

.imopenlines-control-input-textarea-kpi {
	height: 79px;
	padding-top: 5px;
	white-space: pre-wrap;
	resize: none;
	overflow-y: visible;
}

/* PHOTO UPLOAD */
.imopenlines-user-photo-upload {
	padding: 7px 11px 3px 11px;
	width: 280px;
	background: #fff;
	z-index: 1;
}
.imopenlines-user-photo-upload-item-container-title,
.imopenlines-user-photo-uploaded-item-container-title{
	position: relative;
	margin-bottom:10px;
	margin-top: 5px;
}
.imopenlines-user-photo-upload-item-container-title span,
.imopenlines-user-photo-uploaded-item-container-title span{
	text-transform: uppercase;
	font-size: 9px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #727379;
	position: relative;
	background: #fff;
	padding-right: 10px;
	z-index:20;
}
.imopenlines-user-photo-upload-item-container-title:after,
.imopenlines-user-photo-uploaded-item-container-title:after{
	content: '';
	position: absolute;
	height:1px;
	background-color: #f9fbfb;
	top:50%;
	margin-top:1px;
	left: 0;
	right: 0;
}


.imopenlines-user-photo-upload-container {padding: 12px 0}
.imopenlines-user-photo-upload-item-added-btn-container{padding-left: 10px;}
.imopenlines-user-photo-upload-item-added-btn{
	width: 50px;
	height:50px;
	display: block;
	background: #fff;
	border:1px solid #6bd006;
	border-radius: 50%;
	position: relative;
	cursor: pointer;
	float: left;
	box-sizing: border-box;
}

.imopenlines-user-photo-upload-item-added-btn-inner{
	width: 20px;
	height:20px;
	position: absolute;
	top: 50%;
	left:50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	z-index:10;
	opacity: 1;
}
.imopenlines-user-photo-upload-item-added-btn-inner:after,
.imopenlines-user-photo-upload-item-added-btn-inner:before{
	content: "";
	position: absolute;
	height:2px;
	width:10px;
	background-color: #fff;
	top: 50%;
	left:50%;
	-webkit-transition: all 250ms ease;
	-moz-transition: all 250ms ease;
	-ms-transition: all 250ms ease;
	-o-transition: all 250ms ease;
	transition: all 250ms ease;
}
.imopenlines-user-photo-upload-item-added-btn:hover .imopenlines-user-photo-upload-item-added-btn-inner:after,
.imopenlines-user-photo-upload-item-added-btn:hover .imopenlines-user-photo-upload-item-added-btn-inner:before{
	width:16px;
	height:4px;
}
.imopenlines-user-photo-upload-item-added-btn-inner:before{
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
	-o-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
	transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}
.imopenlines-user-photo-upload-item-added-btn-inner:after{
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(0deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(0deg);
	-o-transform: translateX(-50%) translateY(-50%) rotate(0deg);
	transform: translateX(-50%) translateY(-50%) rotate(0deg);
}

.imopenlines-user-photo-upload-item-added-btn-inner-bg{
	position: absolute;
	top: 50%;
	left:50%;
	height:24px;
	width: 24px;
	background: #6bd006;
	border-radius: 50%;
	-webkit-transition: background 350ms ease, width 350ms ease, height 350ms ease;
	-moz-transition: background 350ms ease, width 350ms ease, height 350ms ease;
	-ms-transition: background 350ms ease, width 350ms ease, height 350ms ease;
	-o-transition: background 350ms ease, width 350ms ease, height 350ms ease;
	transition: background 350ms ease, width 350ms ease, height 350ms ease;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	z-index:1;
	box-sizing: border-box;
	border:3px solid transparent;
}
.imopenlines-user-photo-upload-item-added-btn:hover .imopenlines-user-photo-upload-item-added-btn-inner-bg{
	height: 50px;
	width:  50px;
}
.imopenlines-user-photo-upload-item-added-btn.loader .imopenlines-user-photo-upload-item-added-btn-inner-bg{
	border-top-color:   #979797;
	border-right-color: #fff;
	border-bottom-color:#979797;
	border-left-color:  #fff;
	-webkit-animation: uploadLoader 1.5s infinite linear 350ms;
	-moz-animation: uploadLoader 1.5s infinite linear 350ms;
	-ms-animation: uploadLoader 1.5s infinite linear 350ms;
	-o-animation: uploadLoader 1.5s infinite linear 350ms;
	animation: uploadLoader 1.5s infinite linear 350ms;
	height: 50px;
	width:  50px;
	background: transparent;
}

@-webkit-keyframes uploadLoader {
	from {-webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);}
	to {-webkit-transform: translateX(-50%) translateY(-50%) rotate(360deg);}
}
@-moz-keyframes uploadLoader {
	from {-moz-transform: translateX(-50%) translateY(-50%) rotate(0deg);}
	to {-moz-transform: translateX(-50%) translateY(-50%) rotate(360deg);}
}
@-ms-keyframes uploadLoader {
	from {-ms-transform: translateX(-50%) translateY(-50%) rotate(0deg);}
	to {-ms-transform: translateX(-50%) translateY(-50%) rotate(360deg);}
}
@-o-keyframes uploadLoader {
	from {-o-transform: translateX(-50%) translateY(-50%) rotate(0deg);}
	to {-o-transform: translateX(-50%) translateY(-50%) rotate(360deg);}
}
@keyframes uploadLoader {
	from {transform: translateX(-50%) translateY(-50%) rotate(0deg);}
	to {transform: translateX(-50%) translateY(-50%) rotate(360deg);}
}

.imopenlines-user-photo-upload-item-added-completed-container{
	float: left;
	width: -webkit-calc(100% - 50px);
	width: calc(100% - 50px);
	white-space: nowrap;
	padding:0 10px 0 11px;
	box-sizing: border-box;
	height:53px;
	position: relative;
}
.imopenlines-user-photo-upload-item-added-completed-slider-container{
	height:53px;
	overflow: hidden;
	position: relative;
	width:100%;
}
.imopenlines-user-photo-upload-item-added-completed-item{
	width: 33.3333%;
	float: left;
	box-sizing: border-box;
	text-align: center;
	padding: 0 7px;
	position: relative;
}
.imopenlines-user-photo-upload-item-remove{
	position: absolute;
	width: 18px;
	height:18px;
	box-sizing: border-box;
	border:2px solid #fff;
	border-radius:50%;
	top:  2px;
	right:2px;
	background-color: #f00;
	opacity: 0;
	cursor: pointer;
	-webkit-transition: all 250ms ease;
	-moz-transition: all 250ms ease;
	-ms-transition: all 250ms ease;
	-o-transition: all 250ms ease;
	transition: all 250ms ease;
}
.imopenlines-user-photo-upload-item-added-completed-item:hover .imopenlines-user-photo-upload-item-remove{ opacity: .6;}
.imopenlines-user-photo-upload-item-remove:hover { opacity: 1 !important;}
.btn-toggle-close{
	width: 12px;
	height:2px;
	line-height: 20px;
	position: absolute;
	top: 50%;
	left:50%;
	cursor: pointer;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	-webkit-transition: all 250ms ease;
	-moz-transition: all 250ms ease;
	-ms-transition: all 250ms ease;
	-o-transition: all 250ms ease;
	transition: all 250ms ease;
}
.imopenlines-user-photo-upload-item-remove:after,
.imopenlines-user-photo-upload-item-remove:before{
	content: "";
	position: absolute;
	height:1.5px;
	width:9px;
	background-color: #fff;
	top: 50%;
	left:50%;
	-webkit-transition: all 250ms ease;
	-moz-transition: all 250ms ease;
	-ms-transition: all 250ms ease;
	-o-transition: all 250ms ease;
	transition: all 250ms ease;
}
.imopenlines-user-photo-upload-item-remove:before{
	animation: toggle-close-before .3s linear;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	-o-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.imopenlines-user-photo-upload-item-remove:after{
	animation: toggle-close-after .3s linear;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}


.imopenlines-user-photo-upload-item-added-completed-block{
	position: relative;
	-webkit-transition: all 250ms ease;
	-moz-transition: all 250ms ease;
	-ms-transition: all 250ms ease;
	-o-transition: all 250ms ease;
	transition: all 250ms ease;
}
.imopenlines-user-photo-upload-item-added-completed-block-control-left,
.imopenlines-user-photo-upload-item-added-completed-block-control-right{
	position: absolute;
	top: 50%;
	margin-top: -10px;
	opacity: .6;
	width: 10px;
	height:20px;
	cursor: pointer;
	-webkit-transition: all 250ms ease;
	-moz-transition: all 250ms ease;
	-ms-transition: all 250ms ease;
	-o-transition: all 250ms ease;
	transition: all 250ms ease;
}
.imopenlines-user-photo-upload-item-added-completed-block-control-left:hover,
.imopenlines-user-photo-upload-item-added-completed-block-control-right:hover{opacity: 1;}
.imopenlines-user-photo-upload-item-added-completed-block-control-left{left:2px;}
.imopenlines-user-photo-upload-item-added-completed-block-control-right{
	right:2px;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.imopenlines-user-photo-upload-item-added-completed-block-control-left:before,
.imopenlines-user-photo-upload-item-added-completed-block-control-left:after,
.imopenlines-user-photo-upload-item-added-completed-block-control-right:before,
.imopenlines-user-photo-upload-item-added-completed-block-control-right:after{
	content: "";
	position: absolute;
	height:7px;
	width: 2px;
	background-color: #979797;
	top: 50%;
	left:50%;
	-webkit-transition: all 250ms ease;
	-moz-transition: all 250ms ease;
	-ms-transition: all 250ms ease;
	-o-transition: all 250ms ease;
	transition: all 250ms ease;
}
.imopenlines-user-photo-upload-item-added-completed-block-control-left:before,
.imopenlines-user-photo-upload-item-added-completed-block-control-right:before{
	margin-top:-2px;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.imopenlines-user-photo-upload-item-added-completed-block-control-left:after,
.imopenlines-user-photo-upload-item-added-completed-block-control-right:after{
	margin-top: 2px;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	-o-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

/**/
.imopenlines-user-photo-uploaded-container {padding: 0 0 12px;}
.imopenlines-user-photo-upload-item-container{
	width: 25%;
	float: left;
	box-sizing: border-box;
	text-align: center;
	padding:8px 7px;
	position: relative;
}
.imopenlines-user-photo-upload-item-selected{
	position: absolute;
	width: 14px;
	height:14px;
	bottom:8px;
	right: 8px;
	border:2px solid #fff;
	background-color: #6bd006;
	border-radius: 50%;
	opacity: 0;
}
.imopenlines-user-photo-upload-item-added-completed-item .imopenlines-user-photo-upload-item-selected{
	bottom:0;
}
.imopenlines-user-photo-upload-item-added-completed-item.selected .imopenlines-user-photo-upload-item-selected,
.imopenlines-user-photo-upload-item-container.selected .imopenlines-user-photo-upload-item-selected{ opacity: 1;}
.imopenlines-user-photo-upload-item-selected:after,
.imopenlines-user-photo-upload-item-selected:before{
	content: "";
	position: absolute;
	background-color: #fff;
	height: 2px;
}
.imopenlines-user-photo-upload-item-selected:after {
	top:8px;
	width:5px;
	right:6px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.imopenlines-user-photo-upload-item-selected:before{
	top: 7px;
	right:1px;
	width: 8px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.imopenlines-user-photo-upload-item {
	display: inline-block;
	width: 50px;
	height:50px;
	box-sizing: border-box;
	border: 1px solid #e7e9ea;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
	cursor: pointer;
}
.imopenlines-user-photo-upload-button {
	margin: 11px 0 0 0;
	text-align: center;
}
/* END OF PHOTO UPLOAD */

.imopenlines-form-settings-wrap {
	background-color: rgb(238, 242, 244);
}

.imopenlines-page-menu-sidebar {
	position: relative;
	float: left;
	padding: 0;
}

.imopenlines-page-field-container {
	padding: 15px 15px 20px;
	overflow-x: auto;
	overflow-y: visible;
}

.imopenlines-side-panel-overlay {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.7);
	z-index: 3000;
	transform: translateZ(0);
	overflow: hidden;
}

.imopenlines-control-checkbox-label .ui-hint-icon {
	margin-top: 2px;
}

.bx-helpdesk-link {
	cursor: pointer;
	margin-left: 5px;
}

.invisible {
	height: 0;
	opacity: 0;
	overflow: hidden;
	margin: 0;
	padding: 0;
	position: absolute;
}

@keyframes page-hide {
	0% {
		opacity: 1;
	}
	50% {
		opacity: .5;
	}
	100% {
		opacity: 0;
	}
}

@keyframes page-show {
	0% {
		opacity: 0;
	}
	50% {
		opacity: .5;
	}
	100% {
		opacity: 1;
	}
}

.imopenlines-page-hide {
	animation: page-hide .20s ease forwards;
}

.imopenlines-page-show {
	animation: page-show .50s ease-out forwards;
}

/*IE and Firefox fixes*/
select::-ms-expand {
	display: none;
}

select {
	-moz-appearance: none;
}

.imopenlines-lines-edit-popup-text {
	padding-left: 7px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #525c68;
}

.imopenlines-lines-edit-popup-content {
	display: block;
	text-align: center;
	white-space: nowrap;
	padding: 10px 10px 0 10px;
}

.popup-window.imopenlines-lines-edit-popup {
	padding: 10px 20px;
}

.imopenlines-lines-edit-popup-input-number {
	text-align: center;
	padding: 0 5px;
}

.imopenlines-lines-edit-popup-input-number::-webkit-outer-spin-button,
.imopenlines-lines-edit-popup-input-number::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.imopenlines-control-delete.imopenlines-control-container {
	display: block;
}

.imopenlines-control-alert-popup .popup-window-buttons {
	padding: 15px 0 0 0;
	border-top: 1px solid rgba(82, 92, 105, .1);
}

.imopenlines-control-delete .imopenlines-control-subtitle {
	display: block;
	padding: 0 0 10px 0;
	margin: 0 0 17px 0;
	border-bottom: 1px solid rgba(82, 92, 105, .1);
	font: 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #858C96;
}

.imopenlines-control-alert-popup {
	font: 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #535C69;
}

.imopenlines-control-alert-popup-inner {
	min-height: 80px;
}

.imopenlines-control-alert-popup-title {
	display: block;
	margin: 0 0 15px 0;
	font: bold 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.imopenlines-control-alert-popup.popup-window {
	padding: 20px;
	max-width: 362px;
}

.imopenlines-control-checkbox-label .tariff-lock {
	margin: 1px 0 0 8px;
}
