.pagetitle-wrap {
	display: none;
}

#workarea-content {
	background-color: #EEF2F4 !important;
}

/*region main section*/
.salescenter-main-header-title-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 15px;
}

.salescenter-main-header-switcher-container {
	margin-left: 30px;
}

.salescenter-main-header-switcher-container > .ui-switcher {
	display: block;
}

.salescenter-main-header-feedback-container {
	margin-left: auto;
}

.salescenter-editor-section-edit {
	background-color: #fff;
}

.salescenter-editor-section, .salescenter-editor-section-edit {
	position: relative;
	box-sizing: border-box;
	margin-bottom: 15px;
	border-radius: 1px;
	padding: 0 20px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .04);
	transition: background-color 250ms linear, opacity 250ms linear;
}

.salescenter-editor-section-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	border-bottom: 1px solid #e8ecee;
	margin: 0 auto;
	padding: 15px 0 20px;
	position: relative;
}

.salescenter-editor-header-title-text {
	display: inline-block;
	height: 23px;
	color: #525c69;
	vertical-align: middle;
	text-transform: none;
	font: 400 18px/24px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.salescenter-editor-section-content {
	position: relative;
	padding: 15px 0;
	transition: 250ms linear padding, 250ms linear height;
}

.salescenter-editor-block-title {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	color: #a3a9b1;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.salescenter-editor-content-block {
	position: relative;
	display: block;
	margin-bottom: 10px;
}

.salescenter-editor-content-logo-hint {
	font-style: italic;
	font-size: 12px;
}

.salescneter-editor-img-container {
	min-width: 100px;
	min-height: 45px;
	display: inline-block;
	padding: 30px 50px;
	border: 1px dashed rgba(82, 92, 105, 0.5);
	margin: 0 15px 0 0;
}

.salescneter-editor-img-load {
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

.salescneter-editor-img-wrapper {
	position: relative;
}

.salescneter-editor-content-img {
	max-width: 100px;
	max-height: 145px;
	position: absolute;
	top: 0;
	bottom: 4px;
	margin: auto;
}

.salescenter-wrapper {
	width: 100%
}

.salescenter-paysystem-wrapper {
	margin: 15px 0 20px 0;
	padding: 0 15px 0 21px !important;
}

.salescenter-main-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: start;
	-webkit-box-align: start;
	align-items: flex-start;
}

.salescenter-main-header-left-block { padding-right: 45px; }

.salescenter-logo-container {
	position: relative;
	min-width: 97px;
	max-width: 97px;
	width: 97px;
	height: 97px;
	border-radius: 50%;
}

.salescenter-default-icon { width: 97px; }
.salescenter-default-icon i {
	background-image: url(images/default.svg);
	background-size: 50% auto;
	background-color: #56C472;
}

.salescenter-cash-icon { width: 97px; }
.salescenter-cash-icon i {
	background-image: url(images/cash.svg);
	background-size: 70% auto;
	background-color: #8EB927;
}

.salescenter-paypal-icon { width: 97px; }
.salescenter-paypal-icon i {
	background-image: url(images/paypal.svg);
	background-size: 70% auto;
	background-color: #243B80;
}

.salescenter-sberbankonline-icon { width: 97px; }
.salescenter-sberbankonline-icon i {
	background-image: url(images/sberbankonline.svg);
	background-size: 70% auto;
	background-color: #2C9B47;
}

.salescenter-qiwi-icon { width: 97px; }
.salescenter-qiwi-icon i {
	background-image: url(images/qiwi.svg);
	background-size: 80% auto;
	background-color: #E9832C;
}

.salescenter-webmoney-icon { width: 97px; }
.salescenter-webmoney-icon i {
	background-image: url(images/webmoney.svg);
	background-size: 90% auto;
	background-color: #006FA8;
}

.salescenter-yandexcheckout-icon { width: 97px; }
.salescenter-yandexcheckout-icon i {
	background-image: url(images/yandexcheckout.svg);
	background-size: 90% auto;
	background-color: #0697F2;
}

.salescenter-yandexcheckout-alfabank-icon { width: 97px; }
.salescenter-yandexcheckout-alfabank-icon i {
	background-image: url(images/yandexcheckout_alfabank.svg);
	background-size: 85% auto;
	background-color: #EE2A23;
}

.salescenter-yandexcheckout-bank_card-icon { width: 97px; }
.salescenter-yandexcheckout-bank_card-icon i {
	background-image: url(images/yandexcheckout_bank_card.svg);
	background-size: 80% auto;
	background-color: #19D0C8;
}

.salescenter-yandexcheckout-yandex_money-icon { width: 97px; }
.salescenter-yandexcheckout-yandex_money-icon i {
	background-image: url(images/yandexcheckout_yandex_money.svg);
	background-size: 85% auto;
	background-color: #FFA900;
}

.salescenter-yandexcheckout-sberbank-icon { width: 97px; }
.salescenter-yandexcheckout-sberbank-icon i {
	background-image: url(images/yandexcheckout_sberbank.svg);
	background-size: 85% auto;
	background-color: #2C9B47;
}

.salescenter-yandexcheckout-sberbank_sms-icon { width: 97px; }
.salescenter-yandexcheckout-sberbank_sms-icon i {
	background-image: url(images/yandexcheckout_sberbank_sms.svg);
	background-size: 85% auto;
	background-color: #289D37;
}

.salescenter-yandexcheckout-qiwi-icon { width: 97px; }
.salescenter-yandexcheckout-qiwi-icon i {
	background-image: url(images/yandexcheckout_qiwi.svg);
	background-size: 80% auto;
	background-color: #E9832C;
}

.salescenter-yandexcheckout-webmoney-icon { width: 97px; }
.salescenter-yandexcheckout-webmoney-icon i {
	background-image: url(images/yandexcheckout_webmoney.svg);
	background-size: 90% auto;
	background-color: #006FA8;
}

.salescenter-yandexcheckout-embedded-icon { width: 97px; }
.salescenter-yandexcheckout-embedded-icon i {
	background-image: url(images/yandexcheckout_embedded.svg);
	background-size: 90% auto;
	background-color: #0697F2;
}

.salescenter-yandexcheckout-tinkoff_bank-icon { width: 97px; }
.salescenter-yandexcheckout-tinkoff_bank-icon i {
	background-image: url(images/yandexcheckout_tinkoff_bank.svg);
	background-size: 85% auto;
	background-color: #FFE52B;
}

.salescenter-liqpay-icon { width: 97px; }
.salescenter-liqpay-icon i {
	background-image: url(images/liqpay.svg);
	background-size: 70% auto;
	background-color: #7AB72B;
}

.salescenter-uapay-icon { width: 97px; }
.salescenter-uapay-icon i {
	background-image: url(images/uapay.svg);
	background-size: 70% auto;
	background-color: #E41F18;
}

.salescenter-skb-skb-icon { width: 97px; }
.salescenter-skb-skb-icon i {
	background-image: url(images/skb_skb.svg);
	background-size: 85% auto;
	background-color: #F65E64;
}

.salescenter-skb-delobank-icon { width: 97px; }
.salescenter-skb-delobank-icon i {
	background-image: url(images/skb_delobank.svg);
	background-size: 85% auto;
	background-color: #F65E64;
}

.salescenter-skb-gazenergobank-icon { width: 97px; }
.salescenter-skb-gazenergobank-icon i {
	background-image: url(images/skb_gazenergobank.svg);
	background-size: 85% auto;
	background-color: #F65E64;
}

.salescenter-bepaid-widget-icon{ width: 97px; }
.salescenter-bepaid-widget-icon i{
	background-image: url(images/bepaid_widget.svg);
	background-size: 70% auto;
	background-color: #E36F10;
}

.salescenter-bepaid-checkout-icon { width: 97px; }
.salescenter-bepaid-checkout-icon i {
	background-image: url(images/bepaid_checkout.svg);
	background-size: 70% auto;
	background-color: #E36F10;
}

.salescenter-cashondelivery-icon { width: 97px; }
.salescenter-cashondelivery-icon i {
	background-image: url(images/cashondelivery.svg);
	background-size: 65% auto;
	background-color: #39A68E;
}

.salescenter-cashondeliverycalc-icon { width: 97px; }
.salescenter-cashondeliverycalc-icon i {
	background-image: url(images/cashondeliverycalc.svg);
	background-size: 65% auto;
	background-color: #39A68E;
}

.salescenter-orderdocument-icon { width: 97px; }
.salescenter-orderdocument-icon i {
	background-image: url(images/orderdocument.svg);
	background-size: 50% auto;
	background-color: #2FA8CD;
}

.salescenter-paymaster-icon { width: 97px; }
.salescenter-paymaster-icon i {
	background-image: url(images/paymaster.svg);
	background-size: 90% auto;
	background-color: #1B7195;
}

.salescenter-wooppay-iframe-icon{ width: 97px; }
.salescenter-wooppay-iframe-icon i{
	background-image: url(images/wooppay_iframe.svg);
	background-size: 90% auto;
	background-color: #2F80ED;
}

.salescenter-wooppay-checkout-icon { width: 97px; }
.salescenter-wooppay-checkout-icon i {
	background-image: url(images/wooppay_checkout.svg);
	background-size: 90% auto;
	background-color: #2F80ED;
}

.salescenter-main-header-right-block {
	width: 100%;
}

.salescenter-link-container {
	margin-bottom: 12px;
}

.salescenter-link {
	border-bottom: 1px solid;
	text-decoration: none;
	transition: 250ms linear all;
}

.salescenter-link:hover {
	border-bottom-color: transparent;
	text-decoration: none;
}

.salescenter-main-settings {}

.salescenter-auth-popup-settings {
	clear: both;
	display: block;
	overflow: hidden;
	margin: 0 0 17px 0;
}

.salescenter-auth-popup-social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	overflow: hidden;
	height: 70px;
	padding: 0 22px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff;
	border: 1px solid rgba(82,92,104,0.2);
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.salescenter-auth-popup-social:before {
	content: '';
	float: left;
	overflow: hidden;
	height: 70px;
	margin: 0 17px 0 0;
	min-width: 85px;
	background: url(images/logo-services.png) no-repeat;
}

.salescenter-auth-popup-social-yandex:before {
	background-position: 0 0;
	width: 118px;
}

.salescenter-auth-popup-social-avatar {
	float: left;
	height: 33px;
	padding: 18px 0 18px 17px;
	position: relative;
}

.salescenter-auth-popup-social-avatar:before {
	content: '';
	display: block;
	width: 1px;
	top: 19px;
	bottom: 19px;
	left: 0;
	position: absolute;
	background: #dcdee1;
}

.salescenter-auth-popup-social-avatar-icon {
	display: block;
	overflow: hidden;
	width: 41px;
	height: 41px;
	margin: -4px 0;
	background: #ccc;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2040%2040%22%3E%3Ccircle%20cx%3D%2220%22%20cy%3D%2220%22%20r%3D%2220%22%20fill%3D%22%23525C68%22/%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M30.4364902%2C31.4100231%20C30.4364902%2C29.9871769%2028.8398242%2C23.9680557%2028.8398242%2C23.9680557%20C28.8398242%2C23.0883414%2027.6898708%2C22.083459%2025.4253473%2C21.4978674%20C24.6581347%2C21.2838747%2023.9288072%2C20.9520366%2023.2634349%2C20.514215%20C23.1179216%2C20.4310645%2023.1400361%2C19.6628072%2023.1400361%2C19.6628072%20L22.4107003%2C19.5517925%20C22.4107003%2C19.4894296%2022.3483374%2C18.5681401%2022.3483374%2C18.5681401%20C23.2209751%2C18.274902%2023.1311903%2C16.5451067%2023.1311903%2C16.5451067%20C23.6853794%2C16.8524981%2024.0462878%2C15.4836113%2024.0462878%2C15.4836113%20C24.7017612%2C13.5817654%2023.719878%2C13.6967607%2023.719878%2C13.6967607%20C23.8916546%2C12.5357299%2023.8916546%2C11.3557413%2023.719878%2C10.1947105%20C23.283338%2C6.34325128%2016.7109122%2C7.38882426%2017.4902268%2C8.64669632%20C15.5693624%2C8.29286451%2016.0076715%2C12.6635719%2016.0076715%2C12.6635719%20L16.4243085%2C13.7953913%20C15.6060724%2C14.326139%2016.1748571%2C14.9679015%2016.2031636%2C15.7065254%20C16.243412%2C16.7972119%2016.9108272%2C16.5712018%2016.9108272%2C16.5712018%20C16.9519602%2C18.3713211%2017.8396357%2C18.6057347%2017.8396357%2C18.6057347%20C18.0063789%2C19.7362273%2017.9024408%2C19.5438313%2017.9024408%2C19.5438313%20L17.1125113%2C19.6393659%20C17.1232047%2C19.896452%2017.1022601%2C20.1538778%2017.0501485%2C20.405854%20C16.12134%2C20.8198372%2015.921425%2C21.0626543%2014.9983663%2C21.4673494%20C13.215054%2C22.2488754%2011.2769403%2C23.2652573%2010.9323966%2C24.6337018%20C10.5878529%2C26.0021463%209.56350982%2C31.4100231%209.56350982%2C31.4100231%20L30.4356056%2C31.4100231%20L30.4356056%2C31.4100231%20L30.4356056%2C31.4100231%20L30.4364902%2C31.4100231%20Z%22/%3E%3C/svg%3E%0A');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.salescenter-auth-popup-social-user {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 8px;
}

.salescenter-auth-popup-social-user-link {
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 14px;
	color: #0b66c3;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}

.salescenter-auth-popup-social-user-link:hover {
	text-decoration: underline;
}

.salescenter-auth-popup-social-shutoff {
	float: right;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
}

.salescenter-auth-popup-social-shutoff-link {
	display: inline-block;
	font-size: 12px;
	color: #80868e;
	text-decoration: none;
}

.salescenter-auth-popup-social-shutoff-link:hover {
	color: #80868e;
	text-decoration: underline;
}

.ui-btn-width {
	width: 130px;
}

.salescenter-button-container {
	padding-top: 5px;
	margin-bottom: 15px;
}