/*region common*/
.page-section
{
	padding: 15px;
	padding-bottom: 0;
	background-color: #fff;
}

.page-section.order-payment-view-mode
{
	padding-top: 0;
}

.bx-dark .page-section,
.bx-dark.page-section
{
	background-color: #242426;
}

.page-section-title
{
	color: #333333;
	opacity: .8;
	font: 16px/18px "SF Pro Text", "SF UI Text", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*tmp hack*/
	font-family: "Roboto", Arial, sans-serif;
}

.bx-dark .page-section-title
{
	color: #fff;
}

.page-section-inner
{
	margin: 0 -15px;
}

.page-section-inner p
{
	color: #81818b;
	font: 17px/22px "SF Pro Text", "SF UI Text", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*tmp hack*/
	font-family: "Roboto", Arial, sans-serif;
}

.bx-dark .page-section-inner p
{
	color: #fff;
}

/*endregion*/

/*region payment*/
.order-payment-container
{
	position: relative;
	min-width: calc(100% - 10px);
	width: calc(100% - 10px);
	margin: 0 5px;
	z-index: 5;
	padding: 12px 15px;
	border: 1px solid rgba(151, 151, 151, 0.33);
	border-radius: 6px;
}

.order-payment-container.order-payment-sibling-container:before
{
	position: absolute;
	top: -21px;
	left: 20px;
	width: 1px;
	height: 17px;
	background: rgba(151, 151, 151, 0.33);
	content: '';
}

.order-payment-title
{
	margin-bottom: 6px;
	color: rgba(172, 172, 180, 0.78);
	font: 13px/17px "SF Pro Text", "SF UI Text", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*tmp hack*/
	font-family: "Roboto", Arial, sans-serif;
}

.bx-dark .order-payment-title
{
	color: rgba(172, 172, 180, 0.79);
}

.order-payment-inner
{
}

.order-payment-operator
{
	padding-right: 10px;
	max-width: 170px;
}

.order-payment-operator img
{
	max-width: 100%;
	height: auto;
}

.order-payment-status
{
	padding-right: 10px;
	color: #393945;
	text-transform: uppercase;
	white-space: nowrap;
	font: 500 10px/17px "SF Pro Text", "SF UI Text", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*tmp hack*/
	font-family: "Roboto", Arial, sans-serif;
}

.bx-dark .order-payment-status
{
	color: #fff;
}

.order-payment-status-ok
{
	width: 16px;
	height: 12px;
	background: url(images/payment-check.svg) no-repeat left center;
}

.order-payment-price
{
	color: rgba(44, 44, 54, 0.6);
	white-space: nowrap;
	font: 14px/17px "SF Pro Text", "SF UI Text", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*tmp hack*/
	font-family: "Roboto", Arial, sans-serif;
}

.bx-dark .order-payment-price
{
	color: rgba(255, 255, 255, 0.6);
}

.order-payment-price .rub
{
	font-family: 'rubleBitrix';
}

.order-payment-buttons-container
{
	margin-top: 20px;
	padding-bottom: 15px;
	text-align: center;
}

/*endregion*/

/*region payment-method*/
.order-payment-method-item-block
{
	padding: 18px 15px;
	position: relative;
	width: 100%;
	height: 70px;
	border-bottom: 1px solid #eeeff0;
	transition: 250ms linear all;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}

.order-payment-method-item-block:last-child
{
	border: none;

	/*margin-bottom: -15px;*/
}

.bx-dark .order-payment-method-item-block
{
	border-color: #32323D;
}

.order-payment-method-item-img
{
	max-height: 100%;
	max-width: 170px;
}

.order-payment-method-item-button
{
	padding: 10px 20px;
	font: 500 18px "SF UI Display", "SF UI Text", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*tmp hack*/
	font-family: "Roboto", Arial, sans-serif;
	cursor: pointer;
	color: #ffffff;
}

.order-payment-method-item-button.order-payment-loader
{
	/*margin-right: 4%;*/
	opacity: 0.8;
	padding: 10px 50px;
}

.order-payment-method-item-button.pay-mode
{
	background-color: #00AE34;
	border-radius: 20px;
}

.order-payment-method-item-button.info-mode
{
	padding: 0;
	font-size: 15px;
	font-weight: normal;
	color: #3598FF;
	text-transform: uppercase;
}
.bx-dark .order-payment-method-item-button.info-mode
{
	color: #55A8FF;
}

.order-payment-method-item.info-mode:first-child
{
	margin-top: -15px;
}
.order-payment-method-item.selected.info-mode .order-payment-method-item-button
{
	color: #BADCFF;
}

.order-payment-button-reload
{
	padding: 10px 30px;
	font: 500 18px "SF UI Display", "SF UI Text", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*tmp hack*/
	font-family: "Roboto", Arial, sans-serif;
	cursor: pointer;
	color: #333;
	border: 1px solid #00AE34;
	border-radius: 20px;
	background: none;
}
.bx-dark .order-payment-button-reload
{
	color: #fff;
}


.order-payment-method-description
{
	font: 14px/24px "SF UI Display", "SF UI Text", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*tmp hack*/
	font-family: "Roboto", Arial, sans-serif;
	/*margin-top: 15px;*/
}

.order-payment-method-description-title
{
	border-top: 1px solid #eeeff0;
	padding: 15px 15px 0;
	color: #3C3C3C;
	margin-bottom: 5px;
}

.bx-dark .order-payment-method-description-title
{
	border-color: #32323D;
	color: #fff;
}

.order-payment-method-description .order-payment-method-description-text
{
	padding: 0 15px 15px;
	position: relative;
	color: #94949E;
}

.bx-dark .order-payment-method-description-text
{
	color: #d3d3d3;
}

/*endregion*/

.order-payment-method-container .main-user-consent-request-announce
{
	font: 11px/13px "SF Pro Text", "SF UI Text", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*tmp hack*/
	font-family: "Roboto", Arial, sans-serif;
}
.order-payment-method-container .main-user-consent-request
{
	padding: 15px;
	margin: 0;
}

.bx-dark .main-user-consent-request-announce
{
	color: #fff;
}

/*Controls*/
.bx-dark .form-control
{
	border: none;
	border-bottom: 1px solid rgba(82, 92, 105, 0.1);
	background-color: transparent;
	border-radius: 0;
	padding-left: 0;
}

.bx-dark .form-control::placeholder
{
	color: #ccccd3;
	opacity: 1;
}

.bx-dark .form-control:active,
.bx-dark .form-control:focus
{
	color: #fff;
	background-color: transparent;
}

.bx-dark .form-control
{
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.bx-dark .form-control::-moz-placeholder
{
	color: rgba(255, 255, 255, 0.3);
	transition: 170ms linear all;
}

.bx-dark .form-control:-ms-input-placeholder
{
	color: rgba(255, 255, 255, 0.3);
	transition: 170ms linear all;
}

.bx-dark .form-control:-moz-placeholder
{
	color: rgba(255, 255, 255, 0.3);
	transition: 170ms linear all;
}

.bx-dark .form-control::-webkit-input-placeholder
{
	color: rgba(255, 255, 255, 0.3);
	transition: 170ms linear all;
}

a.check-link
{
	color: rgb(83, 173, 235);
	text-decoration: underline;
}

a.check-link:hover
{
	text-decoration: none;
}

.bx-dark a.check-link
{
	color: rgba(172, 172, 180, 0.79);
	text-decoration: underline;
}

.bx-dark a.check-link:hover
{
	text-decoration: none;
}

.bx-dark .check-print
{
	color: rgba(172, 172, 180, 0.79);
}

.order-payment-loader .main-ui-loader-svg-circle
{
	stroke-width: 6px;
}

.page-section input[type=submit] {
	margin: 25px auto auto;
	display: block;
}

.order-payment-pay-system-name {
	color: #8F9297;
	font-size: 21px;
}

.order-payment-operator .order-payment-pay-system-name {
	font-size: 16px;
}