#uiToolbarContainer {
	padding-right: 10px;
}

.salescenter-container {
	margin-bottom: 35px;
	padding-top: 2px;
	margin-right: 5px;
}

.salescenter-block-title {
	color: #000;
	font: 18px/24px 'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
	margin-bottom: 19px;
}

.bitrix24-light-theme .salescenter-block-title { color: #fff; }

.salescenter-item {
	background-color: #fff;
	border-radius:2px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.14);
	transition: 180ms linear all;
	cursor: pointer;
}

.salescenter-item:hover{
	-webkit-transform: translateY(-3px);
	-moz-transform: translateY(-3px);
	-ms-transform: translateY(-3px);
	-o-transform: translateY(-3px);
	transform: translateY(-3px);
	box-shadow: 0 2px 2px 1px rgba(0,0,0,.14);
}

.salescenter-item-title,
.salescenter-marketplace-item-title {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0 5px;
	box-sizing: border-box;
	height: 45px;
	text-align: center;
	color: #525c69;
	font: 13px/14px "OpenSans-Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.salescenter-item-image,
.salescenter-marketplace-item-image {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 27px;
	background-repeat: no-repeat;
	background-position: center;
}

.salescenter-marketplace-item-image {
	background-size: 65%;
}

.salescenter-item-disabled {
	cursor: auto;
}

.salescenter-item-disabled .salescenter-item-image,
.salescenter-item-disabled .salescenter-item-title {
	opacity: .6;
}

.salescenter-item-disabled:hover {
	box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
	transform: none;
}

.salescenter-item-status-selected {
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}

.salescenter-item-selected .salescenter-item-status-selected
{
	display: block;
}

.salescenter-item-status-selected:before {
	position: absolute;
	bottom: 14px;
	top: -4px;
	right: -5px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #97c70f url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2212%22%20height%3D%229%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M4.627%205.81L10.402%200%2012%201.607%204.652%209l-.025-.025L4.602%209%200%204.373l1.598-1.607z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E)
	no-repeat center;
	content: '';
	box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.salescenter-item-selected .salescenter-item-title { color: #fff; }

.salescenter-item-label-new,
.salescenter-item-label-new-active {
	position: absolute;
	top: -4px;
	left: 9px;
	display: flex;
	padding: 0 5px;
	border-radius: 30px;
	background: #2FC6F6;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .14);
}

.salescenter-item-label-new-active {
	background: #fff;
}

.salescenter-item-label-new-text,
.salescenter-item-label-new-text-active {
	overflow: hidden;
	max-width: 130px;
	color: #fff;
	text-transform: uppercase;
	text-overflow: ellipsis;
	white-space: nowrap;
	font: 8px/14px "OpenSans-Bold", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.salescenter-item-label-new-text-active {
	color: #828B95;
}