.main-ui-select-inner {
	z-index: 3100 !important;
}

/*region Buttons panel*/
.ui-entity-wrap { position: relative; }

.ui-entity-section.ui-entity-section-control {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 900;
	box-sizing: border-box;
	padding: 10px 0 0;
	background-color: #fff;
	box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, .05);
	text-align: center;
	transition: all 300ms ease;
	transform: translateY(100%);
}

.ui-entity-wrap.crm-section-control-active .ui-entity-section.ui-entity-section-control { transform: translateY(0); }

.ui-entity-section-control-error-block {
	overflow: hidden;
	margin-top: 10px;
	max-height: 150px;
	transition: all 300ms ease;
}

.ui-entity-section-control-error-text {
	padding: 20px;
	width: 100%;
	background-color: #fae5e8;
	color: #d0011b;
	box-sizing: border-box;
	font: 400 14px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*endregion */