.report-analytics-content .main-grid-cell-action {
    min-width: 0;
}

/* DYNAMIC GRAPH */
.crm-report-chart-grid-wrapper {
    display: flex;
    margin: 20px;
}


/* GRID STYLES */
.crm-report-chart-grid {}
.crm-report-chart-grid-user,
.crm-report-chart-grid-user-name {
display: flex;
align-items: center;
}

.crm-report-chart-grid-link-expenses {
    cursor: pointer;
    color: #2066B0;
    border-bottom: 1px dashed #2066B0;
    opacity: 0.4;
}
.crm-report-chart-grid-show-expenses .crm-report-chart-grid-link-expenses {
    opacity: 1;
}
.crm-report-chart-grid-link {
    cursor: pointer;
    color: #2066B0;
}
.crm-report-chart-grid-link:hover {
    text-decoration: underline;
}

.crm-report-chart-grid-user-icon.ui-icon,
.crm-report-chart-grid-company-icon.ui-icon {
    display: inline-block;
    margin: 0 9px 0 0;
    width: 23px;
    height: 23px;
    border-radius: 100%;
}
.crm-report-chart-grid-user-name {
    max-width: 100%;
    font: bold 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #2066B0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.crm-report-chart-grid-company .crm-report-chart-grid-user-name {
    font: 500 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #525C69;
}
.crm-report-chart-grid-company-icon {
    display: none;
}
.crm-report-chart-grid-company .crm-report-chart-grid-company-icon {
    display: inline-block;
}
.crm-report-chart-grid-company-icon i {
    border-radius: 0;
}
.crm-report-chart-grid-company .crm-report-chart-grid-user-icon i {
    display: none;
}
.crm-report-chart-grid-value-margin {
    margin: 18px 0;
}
.crm-report-chart-grid-value,
.crm-report-chart-grid-value-bold {
    display: inline-block;
}
.crm-report-chart-grid-value {
    font: 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #525C69;
}
.crm-report-chart-grid-value-bold {
    display: inline-block;
    font: bold 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #333;
}
.crm-report-chart-grid-value-link {
    display: inline-block;
    color: #515C69;
    border-bottom: 1px dashed transparent;
    white-space: nowrap;
    cursor: pointer;
    transition: color .3s, border-bottom .3s;
}
.crm-report-chart-grid-value-link-faded {
    opacity: 0.42;
}
.crm-report-chart-grid-value-link-faded:hover,
.crm-report-chart-grid-value-link:hover .crm-report-chart-grid-value-link-faded,
.crm-report-chart-grid-value-link:hover {
    opacity: 1;
    color: #2066B0;
    border-bottom: 1px dashed #2066B0;
}
.crm-report-chart-grid-rating {
    display: flex;
    align-items: center;
}
.crm-report-chart-grid-rating-icon {
    display: inline-block;
    margin: 0 8px 0 0;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    opacity: 0.6;
}
.crm-report-chart-grid-rating-value {
    display: inline-block;
    margin: 0 8px 0 0;
    padding: 0 8px 0 0;
    border-right: 1px solid rgba(82, 92, 105, 0.17);
    font: 13px/10px "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #364150;
}
.crm-report-chart-grid-rating-text {
    font: 10px "Helvetica Neue", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
.crm-report-chart-grid-rating-bold .crm-report-chart-grid-rating-value,
.crm-report-chart-grid-rating-bold .crm-report-chart-grid-rating-text {
    font-weight: bold;
}
.crm-report-chart-grid-rating-success .crm-report-chart-grid-rating-text {
    color: #6F9300;
}
.crm-report-chart-grid-rating-success .crm-report-chart-grid-rating-icon {
    background: #B3E600;
}
.crm-report-chart-grid-rating-warning .crm-report-chart-grid-rating-text {
    color: #E22E29;
}
.crm-report-chart-grid-rating-warning .crm-report-chart-grid-rating-icon {
    background: #FF5752;
}
.crm-report-chart-grid-rating-normal .crm-report-chart-grid-rating-text {
    color: #1DB0DE;
}
.crm-report-chart-grid-rating-normal .crm-report-chart-grid-rating-icon {
    background: #2FC6F6;
}
/* END OF GRID STYLES */


.crm-report-chart-modal-title-icon.ui-icon {
    display: inline-block;
    margin: 0 11px 0 0;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
}

.crm-report-chart-grid-item-padding {
    margin: 0 0 0 30px;
}