.tasks-pagetitle-view .pagetitle-below,
.tasks-pagetitle-view .ui-side-panel-wrap-below {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	box-sizing: border-box;
	padding: 0 5px 0 13px;
	border-top: 1px solid #dce2e6;
	-webkit-box-align: center;
	align-items: center;
}

.tasks-pagetitle-view .pagetitle-below {min-height: 53px}

.tasks-counters {
	flex: 1;
	position: relative;
	overflow: hidden;
	padding-left: 5px;
	box-sizing: border-box;
	/*height: 53px;*/
	color: #535c69;
	font: 13px 'OpenSans-Regular', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bitrix24-dark-theme .tasks-counters:before {
	background: rgba(0, 0, 0, .06);
}

.bitrix24-light-theme .tasks-counters:before {
	background: rgba(255, 255, 255, .4);
}

.tasks-counter-title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	max-width: 100%;
	padding: 0 10px;
	position: relative;
	top: -1px;
}

.tasks-counter-container {
	margin: 0 10px 0 0;
	text-decoration: none;
	/*flex: 1;*/
	display: flex;
	overflow: hidden;
	align-items: center;
}

.tasks-counter-container:last-child { margin-right: 0; }

.tasks-page-name {
	padding: 0 4px 0 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.tasks-counter-text {
	color: #535c69;
	position: relative;
	display: block;
	overflow: hidden;
	min-width: 0;
	outline: none;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	text-overflow: ellipsis;
	white-space: nowrap;
	flex: 1;
	transition: border-bottom .3s;
}

.tasks-counter { margin-right: 5px; }

.tasks-counter.ui-counter-danger { --ui-counter-current-bg-color: rgba(245, 72, 25, 0.8); }

.tasks-counter.ui-counter-danger .ui-counter-inner { color: rgba(255, 255, 255, 0.8); }

.tasks-counter.ui-counter-success{ --ui-counter-current-bg-color: rgba(157, 207, 0, 0.8); }

.tasks-counter.ui-counter-danger .ui-counter-inner { color: rgba(255, 255, 255, 0.8); }

.tasks-counter-container:hover .tasks-counter-text { border-bottom: 1px solid rgba(83,92,105,.25); }

.tasks-counter-page-name {
	margin: 0 5px 0 0;
	/*padding-bottom: 1px;*/
}

.tasks-counter-page-name .tasks-counter-text { max-width: 100%; }

.bitrix24-light-theme .tasks-counter-text,
.bitrix24-light-theme .task-status-text-color-overdue,
.bitrix24-light-theme .task-status-text-color-overdue:hover { color: #fff !important; }

.bitrix24-light-theme .tasks-counter-container:hover .tasks-counter-inner:after {
	border: 1px solid rgba(255,255,255,.4);
	background: rgba(255,255,255,.15);
}

.bitrix24-light-theme .tasks-counter-container:hover .tasks-counter-text {
	border-bottom: 1px solid rgba(255,255,255,.25);
}

.bitrix24-dark-theme .tasks-counter-text,
.bitrix24-dark-theme .task-status-text-color-overdue,
.bitrix24-dark-theme .task-status-text-color-overdue:hover {
	color: #333;
}

.bitrix24-dark-theme .tasks-counter-container:hover .tasks-counter-inner:after {
	border: 1px solid rgba(0,0,0,.06);
	background: rgba(0,0,0,.07);
}

.tasks-counter-link .tasks-counter-inner:hover {
	color: #525c68;
	text-decoration: none;
}

.tasks-counter-link.tasks-counter-container:after {
	position: absolute;
	top: 2px;
	right: 4px;
	color: #535c69;
	content: '-';
}

.tasks-counter-link .tasks-counter-inner { min-width: calc(100% - 10px); }

.tasks-counter-link .tasks-counter-text { min-width: 100%; }

.tasks-counter-total {
	display: inline-block;
	margin: 0 3px 0 0;
	padding: 0 7px;
	height: 16px;
	border: 1px solid rgba(168, 173, 180, .52);
	border-radius: 30px;
	color: #535c69;
	text-decoration: none;
	font: bold 11px/16px 'OpenSans-Regular', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tasks-counter-total:hover {
	color: #535c69;
	text-decoration: none;
}

.tasks-counter-container:hover .task-status-text-color-overdue .tasks-counter-text {
	color: #c63734;
}

.tasks-counter-container:hover .task-status-text-color-pending .tasks-counter-text {
	color: #ad9050;
}

.tasks-counter-container:hover .task-status-text-color-nodate .tasks-counter-text {
	color: #31ac4e;
}

.tasks-page-nocounter {
	color: #545c6a;
	font: 14px/20px 'OpenSans-Regular', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* VIEW SWITCHER */
.tasks-view-switcher {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	height: 53px;
	color: #545c6a;
	font: 13px 'OpenSans-Regular', "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-box-align: center;
	align-items: center;
}

.tasks-view-switcher-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.tasks-view-switcher-name {
	margin: 0 18px 0 0;
}

.tasks-view-switcher-list-item,
.tasks-view-switcher-list-item:link,
.tasks-view-switcher-list-item:visited {
	margin: 0 18px 0 0;
	color: #545c6a;
	text-decoration: none;
	white-space: nowrap;
	font: 14px/30px 'OpenSans-Regular', "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: pointer;
	transition: color .3s;
}

.tasks-view-switcher-list-item:empty {
	display: none;
}

.tasks-view-switcher-list-item:hover {
	color: #1f2127;
}

.tasks-view-switcher-list .tasks-view-switcher-list-item-active {
	border-bottom: 2px solid #b1b8bf;
	font: 14px/30px 'OpenSans-Regular', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.task-status-text-color-accepted,
.task-status-text-color-accepted:hover,
.task-status-text-color-in-progress,
.task-status-text-color-in-progress:hover {
	color: #525c69 !important;
}

.task-status-text-color-overdue,
.task-status-text-color-overdue:hover {
	color: #d2000d !important;
}

.task-status-text-color-new,
.task-status-text-color-new:hover {
	color: #558d09 !important;
}

.task-status-text-color-completed,
.task-status-text-color-completed:hover {
	color: #ccc !important;
	text-decoration: line-through !important;
}

.task-status-text-color-delayed,
.task-status-text-color-delayed:hover {
	color: #ccc !important;
}

.task-status-text-color-waiting,
.task-status-text-color-waiting:hover {
	color: #9b7f35 !important;
}

.tasks-status-text-green {
	color: #558d09
}

.tasks-status-text-yellow {
	color: #9b7f35
}

.tasks-status-text-red {
	color: #d2000d
}

.task-status-hot:after {
	display: inline-block;
	margin: 0 0 6px;
	width: 8px;
	height: 12px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%228%22%20height%3D%2211%22%20viewBox%3D%220%200%208%2011%22%3E%0A%20%20%3Cpath%20fill%3D%22%23F16C0A%22%20fill-rule%3D%22evenodd%22%20d%3D%22M200.069979%2C24%20L200.14%2C24%20C200.14%2C24%20203%2C23.0560625%20203%2C20.390625%20C203%2C16.6348125%20199.346667%2C15.8813125%20199.666667%2C13%20C197.993333%2C13.8339375%20195%2C16.75375%20195%2C19.875%20C195.039359%2C21.7259245%20196.174362%2C23.3629491%20197.86%2C24%20L197.86%2C24%20L198.123417%2C24%20C197.460595%2C23.3218266%20197.059336%2C22.4251727%20197%2C21.4707569%20C197.092476%2C20.0452868%20197.868205%2C18.7524059%20199.082454%2C18%20C200.109798%2C20.1851885%20201.164908%2C19.9436239%20201.164908%2C21.4707569%20C201.162991%2C22.4339232%20200.76293%2C23.3471724%20200.069979%2C24%20Z%22%20transform%3D%22translate%28-195%20-13%29%22/%3E%0A%3C/svg%3E%0A) top center no-repeat;
	content: '';
	vertical-align: middle;
}

/* Styles are intended for not Bitrix24 templates */
.tasks-interface-toolbar-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;
}

.tasks-interface-toolbar-container .tasks-view-switcher {
	flex: 1;
}

.tasks-interface-toolbar-container .tasks-view-switcher-list {
	display: block;
	text-align: right;
	flex: 1;
}

.ui-btn.ui-btn-light-border.tasks-counter-btn {
	padding: 0 12px 0 36px;
	height: 27px;
	background: rgba(255, 255, 255, .15);
	font-size: 13px;
	line-height: 25px;
	font-family: 'OpenSans-SemiBold', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ui-btn.ui-btn-light-border.tasks-counter-btn:before {
	content: '';
	position: absolute;
	left: 12px;
	top: 6px;
	width: 15px;
	height: 13px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2215%22%20height%3D%2213%22%20viewBox%3D%220%200%2015%2013%22%3E%3Cpath%20fill%3D%22%23535c69%22%20d%3D%22M12.1137872%2C3.60115802%20L12.9213711%2C0.88887765%20C12.9917364%2C0.653060708%2012.9323829%2C0.397184882%2012.7656685%2C0.217636118%20C12.5989541%2C0.0380873543%2012.3502067%2C-0.0378566184%2012.113127%2C0.0184115594%20C11.8760474%2C0.0746797372%2011.6866535%2C0.254611591%2011.6162882%2C0.490428532%20L10.9245602%2C2.81873631%20C8.77403662%2C1.683364%206.20997866%2C1.68606835%204.06180048%2C2.82597457%20L3.36666494%2C0.490428532%20C3.25788966%2C0.125887126%202.87755711%2C-0.0804361999%202.51716841%2C0.0295924856%20C2.15677972%2C0.139621171%201.95280675%2C0.524336243%202.06158203%2C0.88887765%20L2.8725735%2C3.61184307%20C1.05136157%2C5.08431072%20-0.00628362527%2C7.31674489%202.80901028e-05%2C9.6750943%20C2.80901028e-05%2C13.9311927%203.35644236%2C12.8868148%207.4999954%2C12.8868148%20C11.6435484%2C12.8868148%2014.9999627%2C13.9311927%2014.9999627%2C9.6750943%20C15.0072578%2C7.31042438%2013.9438643%2C5.07252025%2012.1137872%2C3.60115802%20Z%20M7.49318035%2C9.09672266%20C4.53544676%2C9.09672266%202.13654763%2C9.40693391%202.13654763%2C8.13885926%20C2.13654763%2C6.8707846%204.53544676%2C5.84122793%207.49318035%2C5.84122793%20C10.4509139%2C5.84122793%2012.8532206%2C6.86975056%2012.8532206%2C8.13885926%20C12.8532206%2C9.40796795%2010.4543215%2C9.09672266%207.49318035%2C9.09672266%20Z%20M5.04316831%2C6.79116371%20C4.62088547%2C6.86918401%204.33167594%2C7.26631071%204.38320708%2C7.69738635%20C4.43473822%2C8.12846199%204.80918992%2C8.44441522%205.23768653%2C8.41837532%20C5.66618314%2C8.39233541%206.00054518%2C8.03330729%206.00068344%2C7.59909168%20C5.95284474%2C7.11065813%205.52678755%2C6.75116144%205.04316831%2C6.79116371%20Z%20M9.28209458%2C7.69949772%20C9.33459027%2C8.13049967%209.70956893%2C8.44577556%2010.1380777%2C8.41919424%20C10.5665864%2C8.39261291%2010.90067%2C8.03335237%2010.9007075%2C7.59909168%20C10.8528825%2C7.10920225%2010.4246755%2C6.74917285%209.93978486%2C6.79116371%20C9.51771184%2C6.87058387%209.22959888%2C7.26849578%209.28209458%2C7.69949772%20Z%22%20opacity%3D%22.9%22/%3E%3C/svg%3E');
	transition: .2s;
}

.ui-btn.ui-btn-light-border.tasks-counter-btn:hover:before,
.bitrix24-light-theme .pagetitle-below .ui-btn.ui-btn-light-border.tasks-counter-btn:before {
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2215%22%20height%3D%2213%22%20viewBox%3D%220%200%2015%2013%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M12.1137872%2C3.60115802%20L12.9213711%2C0.88887765%20C12.9917364%2C0.653060708%2012.9323829%2C0.397184882%2012.7656685%2C0.217636118%20C12.5989541%2C0.0380873543%2012.3502067%2C-0.0378566184%2012.113127%2C0.0184115594%20C11.8760474%2C0.0746797372%2011.6866535%2C0.254611591%2011.6162882%2C0.490428532%20L10.9245602%2C2.81873631%20C8.77403662%2C1.683364%206.20997866%2C1.68606835%204.06180048%2C2.82597457%20L3.36666494%2C0.490428532%20C3.25788966%2C0.125887126%202.87755711%2C-0.0804361999%202.51716841%2C0.0295924856%20C2.15677972%2C0.139621171%201.95280675%2C0.524336243%202.06158203%2C0.88887765%20L2.8725735%2C3.61184307%20C1.05136157%2C5.08431072%20-0.00628362527%2C7.31674489%202.80901028e-05%2C9.6750943%20C2.80901028e-05%2C13.9311927%203.35644236%2C12.8868148%207.4999954%2C12.8868148%20C11.6435484%2C12.8868148%2014.9999627%2C13.9311927%2014.9999627%2C9.6750943%20C15.0072578%2C7.31042438%2013.9438643%2C5.07252025%2012.1137872%2C3.60115802%20Z%20M7.49318035%2C9.09672266%20C4.53544676%2C9.09672266%202.13654763%2C9.40693391%202.13654763%2C8.13885926%20C2.13654763%2C6.8707846%204.53544676%2C5.84122793%207.49318035%2C5.84122793%20C10.4509139%2C5.84122793%2012.8532206%2C6.86975056%2012.8532206%2C8.13885926%20C12.8532206%2C9.40796795%2010.4543215%2C9.09672266%207.49318035%2C9.09672266%20Z%20M5.04316831%2C6.79116371%20C4.62088547%2C6.86918401%204.33167594%2C7.26631071%204.38320708%2C7.69738635%20C4.43473822%2C8.12846199%204.80918992%2C8.44441522%205.23768653%2C8.41837532%20C5.66618314%2C8.39233541%206.00054518%2C8.03330729%206.00068344%2C7.59909168%20C5.95284474%2C7.11065813%205.52678755%2C6.75116144%205.04316831%2C6.79116371%20Z%20M9.28209458%2C7.69949772%20C9.33459027%2C8.13049967%209.70956893%2C8.44577556%2010.1380777%2C8.41919424%20C10.5665864%2C8.39261291%2010.90067%2C8.03335237%2010.9007075%2C7.59909168%20C10.8528825%2C7.10920225%2010.4246755%2C6.74917285%209.93978486%2C6.79116371%20C9.51771184%2C6.87058387%209.22959888%2C7.26849578%209.28209458%2C7.69949772%20Z%22%20opacity%3D%22.9%22/%3E%3C/svg%3E');
}

.bitrix24-dark-theme .pagetitle-below .ui-btn.ui-btn-light-border.tasks-counter-btn {
	border: 1px solid rgba(0, 0, 0, .06);
	background: rgba(0, 0, 0, .07);
}

.bx-ie .ui-btn.ui-btn-light-border.tasks-counter-btn {

	background: rgba(255, 255, 255, .15); }

.tasks-counter-btn.ui-btn-light-border.ui-btn:not(.ui-btn-disabled):hover {
	border-color: #55d0e0;
	background: #55d0e0;
	color: #fff;
}

.ui-btn.ui-btn-light-border.tasks-counter-btn.ui-btn-icon-lock {
	margin-right: 22px;
}

.tasks-counter-btn.ui-btn-icon-lock.ui-btn:after,
.tasks-counter-btn.ui-btn-icon-lock.ui-btn-main:after {
	left: auto;
	right: -22px;
	width: 14px;
	height: 14px;
	background-size: 22px 22px;
}

.tasks-counter-btn-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	/*margin-left: auto;*/
	margin-right: 12px;
	align-items: center;
	padding-left: 16px;
	position: relative;
}

.tasks-counter-counter-button {
	margin-left: 10px;
	color: #535c69;
	position: relative;
	display: block;
	overflow: hidden;
	outline: none;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	text-overflow: ellipsis;
	white-space: nowrap;
	transition: border-bottom .3s;
	min-width: 17px;

}

.tasks-counter-counter-button-icon {
	display: inline-block;
	position: relative;
	bottom: -4px;
	padding-right: 10px;
	content: "";
	width: 17px;
	height: 16px;
	opacity: .8;
	/*padding-left: 20px;*/
	transition: 250ms linear all;
}

.tasks-counter-counter-button:hover{opacity: 1;}

.bitrix24-dark-theme .tasks-counter-counter-button,
.bitrix24-default-theme .tasks-counter-counter-button {
	color: #333;
}

.bitrix24-light-theme .tasks-counter-counter-button  {
	color: #fff;
}

.bitrix24-dark-theme .tasks-counter-counter-button-icon,
.bitrix24-default-theme .tasks-counter-counter-button-icon {
	background: no-repeat center left url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='17px' height='16px' viewBox='0 0 17 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M14.3229953,3.7492721 C15.2785277,3.89981301 16.0092673,4.72697389 16.0092673,5.72480813 L16.0092673,11.0218232 C16.0092673,12.1263927 15.1138368,13.0218232 14.0092673,13.0218232 L8.64351946,13.0218081 L6.06228703,15.6033927 L6.06151946,13.0218081 L5.33017246,13.0212721 L7.43909737,10.9274361 L12.3222024,10.9274361 C13.3765642,10.9274361 14.2403675,10.1115584 14.3167166,9.07669849 L14.3222024,8.92743614 L14.3229953,3.7492721 Z M10.8955653,0 C12.0001348,0 12.8955653,0.8954305 12.8955653,2 L12.8955653,7.45674789 C12.8955653,8.56131739 12.0001348,9.45674789 10.8955653,9.45674789 L6.899,9.456 L2.77768513,13.5782339 L2.777,9.456 L2,9.45674789 C0.8954305,9.45674789 0,8.56131739 0,7.45674789 L0,2 C0,0.8954305 0.8954305,0 2,0 L10.8955653,0 Z M9.11227502,1.91476505 L5.27755539,5.66715996 L3.85502952,4.35509574 L2.86749557,5.31752739 L5.27755539,7.59202326 L10.099809,2.8771967 L9.11227502,1.91476505 Z' fill='%23818A93'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.bitrix24-light-theme .tasks-counter-counter-button-icon  {
	background: no-repeat center left url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='17px' height='16px' viewBox='0 0 17 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M14.3229953,3.7492721 C15.2785277,3.89981301 16.0092673,4.72697389 16.0092673,5.72480813 L16.0092673,11.0218232 C16.0092673,12.1263927 15.1138368,13.0218232 14.0092673,13.0218232 L8.64351946,13.0218081 L6.06228703,15.6033927 L6.06151946,13.0218081 L5.33017246,13.0212721 L7.43909737,10.9274361 L12.3222024,10.9274361 C13.3765642,10.9274361 14.2403675,10.1115584 14.3167166,9.07669849 L14.3222024,8.92743614 L14.3229953,3.7492721 Z M10.8955653,0 C12.0001348,0 12.8955653,0.8954305 12.8955653,2 L12.8955653,7.45674789 C12.8955653,8.56131739 12.0001348,9.45674789 10.8955653,9.45674789 L6.899,9.456 L2.77768513,13.5782339 L2.777,9.456 L2,9.45674789 C0.8954305,9.45674789 0,8.56131739 0,7.45674789 L0,2 C0,0.8954305 0.8954305,0 2,0 L10.8955653,0 Z M9.11227502,1.91476505 L5.27755539,5.66715996 L3.85502952,4.35509574 L2.86749557,5.31752739 L5.27755539,7.59202326 L10.099809,2.8771967 L9.11227502,1.91476505 Z' fill='%23FFF'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}